*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.home{
    position: relative;
}
.header{
    height: 100px;
    background-color: lightslategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
}
.logo-img{
    width: 82%;
    margin-left: 20px;

}
.logo{
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: "Unlock", serif;
    font-size: 20px;
    margin-left: 20px;
}
.buttons{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Ruda", sans-serif;
}

.btn{
    text-decoration: none;
    font-size: 24px;
    color: white;
    transition: 0.5s;
}
.contacts{
    display: flex;
    width: 18%;
    color: white;
    font-weight: bold;
    font-family: "Ruda", sans-serif;
}

.mobi{
    margin: 0 30px;
    color: white;
    background-color: rgb(48, 56, 63);
    padding: 10px 15px 0 15px;
    border-radius: 20px;
}

.ink{
    margin-left: 15px;
}

.black{
    margin-left: 5px;
}
html{
    cursor: url(icons8-tattoo-100.png), auto;
}
.btn:hover{
    color: darkblue;

}
/* :hover-эффект при наведении */
.main-box{
    height: 1000px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(60%);
}
.front{
    width: 50%;
    margin: auto;
    color: white;
    padding-top: 100px;
}
h3{
    text-align: center;
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 80px;
    margin-top: 20px;
}
.consult{
    color: black;
    background-color: rgb(255, 221, 0);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 30px;
}
.little-text{
    text-align: center;
    margin-top: 50px;
}